* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn", Georgia, "Times New Roman", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, 0.7);
}

blockquote,
q {
  quotes: none;
}

.structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header  header   header"
    "sidebar content  ads"
    "footer  footer   footer";
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.ads {
  grid-area: ads;
}

.footer {
  grid-area: footer;
}
