.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
}

.header > a {
  max-width: 200px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header nav a {
  display: block;
  font-size: 1.125rem;
  text-transform: lowercase;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 150ms ease-in-out;
  transition-property: background-color;
}

.header nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
    justify-content: center;
  }

  .header > a {
    margin-bottom: 20px;
    margin-left: 13px;
  }

  .header nav a {
    font-size: 1rem;
  }

  .header ul {
    gap: 10px;
  }
}
