.sidebar {
  background-color: #fafbfc;
  padding: 30px;
}

.sidebar li a {
  display: block;
  min-width: 60px;
  max-width: 140px;
  margin: 0px auto 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 150ms ease-in-out;
  transition-property: background-color;
}

.sidebar li a:hover {
  background-color: #b07dfb;
}

@keyframes arrow {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidebar {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-auto;
    position: relative;
  }

  .sidebar::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: arrow 500ms ease-in-out 0s infinite alternate;
  }

  .sidebar ul {
    display: flex;
  }

  .sidebar li {
    flex: 1 0 140px;
  }

  .sidebar li a {
    margin: 30px 30px 30px 0;
  }
}
